:root {
  --green-primary-base: #05c0a5;
  --blue-primary-base: #184f90;
  --orange-primary-base: #f5a623;
  --text-dark-base: #192133;
  --cyan-primary-base: #80deea;
  --gray-primary-base: #F2F3F6;
}
